# Python virtual environment
venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Environment variables
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
